@font-face {
  font-family: "Asap";
  font-weight: 400;
  font-style: normal;
  src: url("/asap/Asap-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  font-weight: 400;
  font-style: normal;
  src: url("/overpass/Overpass-Regular.ttf") format("ttf");
  font-display: swap;
}
